    .HeaderNavigation {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        height: max-content;
        margin-top: 2rem;
    }
    
    .HeaderNavigation .Logo {
        grid-column: 1/span 1;
    }
    
    .HeaderNavigation .mainNav {
        grid-column: 2/span 5;
        grid-row: 1/span 1;
        justify-self: center;
    }
    
    .HeaderNavigation .remNav {
        grid-column: 6/ -1;
        grid-row: 1/span 1;
        justify-self: end;
    }
    
    .HeaderNavigation ul {
        list-style: none;
        display: flex;
        justify-content: center;
        justify-self: center;
    }
    
    .HeaderNavigation ul li {
        display: inline-block;
        margin-left: 3rem;
        font-weight: 400;
    }
    
    .HeaderNavigation .col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .HeaderNavigation .col .btn {
        padding: .5rem 2rem;
        border: transparent;
        font-size: 1.1rem;
        font-weight: 500;
    }
    
    .HeaderNavigation .col .btn:hover {
        transform: scale(1) translateY(0);
    }
    
    .HeaderNavigation .col .btn.active {
        border: 1px solid #F58383;
        box-shadow: 1px 1px .5px .6px #f5383828;
    }
    
    .HeaderNavigation .col .btn:not(:last-of-type) {
        margin-right: 1rem;
    }
    
    @media screen and (max-width: 71.875rem) {
        .HeaderNavigation {
            grid-row-gap: 1rem;
        }
        .HeaderNavigation .Logo {
            grid-column: 1/-1;
            justify-self: center;
        }
        .HeaderNavigation .mainNav {
            grid-column: 1/span 4;
            grid-row: 2/span 1;
            justify-self: start;
        }
        .HeaderNavigation .remNav {
            grid-column: 5/ -1;
            grid-row: 2/span 1;
            justify-self: end;
        }
        .HeaderNavigation ul li {
            margin-left: 0;
        }
        .HeaderNavigation ul li:not(:last-of-type) {
            margin-right: 3rem;
        }
    }
    
    @media screen and (max-width: 56.25rem) {
        .HeaderNavigation .mainNav {
            display: none;
        }
        .HeaderNavigation .remNav {
            display: none;
        }
    }