.Features {
    grid-column: 2/span 1;
    align-items: center;
}

.Features.row {
    display: flex;
}

.Features.row .col {
    width: 50%;
}

.Features.row .col:last-child {
    display: grid;
    padding: 2rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
}

.Features.row .col:last-child h2 {
    grid-column: 1/span 4;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 500;
}

.Features.row .col:last-child p {
    grid-column: 1/-1;
    line-height: 1.5;
}

.Features.row .col:last-child ul {
    grid-column: 1/ -1;
    margin-top: 1rem;
}

.Features.row .col:last-child ul li {
    display: flex;
    align-items: center;
}

.Features.row .col:last-child ul li:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

.Features.row .col:last-child ul li span {
    margin-left: 1.5rem;
}

.Features figure .Image {
    width: 100%;
}

@media screen and (max-width: 56.25rem) {
    .Features.row {
        flex-direction: column;
    }
    .Features.row .col {
        width: 90%;
    }
    .Features.row .col:last-child {
        height: max-content;
        grid-row-gap: 1rem;
    }
    .Features.row .col:first-child {
        height: 50%;
        width: 90%;
    }
    .Features.row .col:first-child .Image {
        height: 20rem;
        margin-top: auto;
    }
}

@media screen and (max-width: 26.5625rem) {
    .Features.row .col:last-child {
        width: 100%;
        padding: 2rem 1rem;
    }
    .Features.row .col:last-child h2 {
        grid-column: 1/-1;
    }
}