.Btn {
    color: #F53838;
    border: 2px solid #F53838;
    outline: 0;
    background: transparent;
    padding: .6rem 0;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 50px;
    transform: scale(1);
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}

.Btn:hover {
    background-color: #F53838;
    color: #fff;
    transform: scale(1.03) translateY(-.2rem);
    box-shadow: 2px 2px 2px 1px rgb(245, 56, 56, .3);
}