.Subscribe {
    background: #fff;
    grid-column: 2/span 1;
    width: 80%;
    margin: auto;
    transform: translateY(-2rem);
    box-shadow: 2px 2px 5px 1px #eee, -2px -2px 5px 2px #eee;
    padding: 4rem 5rem;
}

.Subscribe.row {
    display: flex;
    align-items: center;
}

.Subscribe.row .col:first-of-type {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Subscribe.row .col:last-of-type {
    text-align: end;
    width: 50%;
    justify-content: flex-end;
}

.Subscribe.row .col h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.Subscribe.row .col .btn {
    border-radius: 5px;
    padding: 1rem 3rem;
    background-color: #F53838;
    color: #fff;
}

@media screen and (max-width: 71.875rem) {
    .Subscribe {
        width: 90%;
    }
}

@media screen and (max-width: 56.25rem) {
    .Subscribe {
        width: 100%;
        padding: 4rem 3rem;
    }
}

@media screen and (max-width: 45.667rem) {
    .Subscribe {
        transform: translateY(0);
        flex-direction: column;
    }
    .Subscribe.row .col:first-of-type {
        width: 100%;
    }
    .Subscribe.row .col:last-of-type {
        margin-top: 2rem;
        text-align: start;
        width: 100%;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 26.5625rem) {
    .Subscribe {
        box-shadow: none;
        padding: 1rem;
    }
}