.App {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    grid-row-gap: 6rem;
    background-color: #fff;
    color: #0B132A;
}

@media screen and (max-width: 45.667rem) {
    .App {
        grid-row-gap: 3rem;
        overflow: hidden;
    }
}