* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 125%;
    }
}

@media screen and (max-width: 56.25rem) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 26.5625rem) {
    html {
        font-size: 85%;
    }
}

::selection {
    color: #F6F6F6;
    background-color: #0B132A;
}