.Footer {
    background: #F8F8F8;
    grid-column: 1/ -1;
    padding: 3rem;
}

.Footer ul,
.Footer ol {
    list-style: none;
}

.Footer.row,
.Footer .row {
    display: flex;
}

.Footer.row .col:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
}

.Footer.row {
    justify-content: space-between;
}

.Footer.row .logo {
    margin-bottom: 1rem;
}

.Footer.row p {
    width: 65%;
    line-height: 1.6;
}

.Footer .copyright {
    color: #AFB5C0;
    font-size: .9rem;
}

@media screen and (max-width: 71.875rem) {
    .Footer.row {
        flex-direction: column-reverse;
    }
    .Footer.row .col {
        margin: auto;
        width: 80%;
    }
    .Footer.row .col:last-of-type {
        margin-bottom: 2rem;
    }
    .Footer.row p {
        width: 100%;
    }
}

@media screen and (max-width: 45.667rem) {
    .Footer.row .col {
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width: 26.5625rem) {
    .Footer {
        padding: 2rem 1rem;
    }
    .vertical {
        flex-direction: column;
    }
}