.FooterSocials {
    display: flex;
    padding: 0;
    margin: 2rem 0;
}

.FooterSocials li {
    position: relative;
    z-index: 1;
    margin-right: .8rem;
}

.FooterSocials li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: #F53838;
    width: 50%;
    height: 70%;
    z-index: -1;
    transition: transform .3s;
}

.FooterSocials li:hover {
    transform: scale(1.1);
}

.FooterSocials svg path {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 71.875rem) {
    .FooterSocials {
        margin: .5rem 0;
    }
}