.NetworkSponsors.row {
    display: flex;
    align-items: center;
    align-self: center;
    grid-row: 4/span 1;
    grid-column: 1/-1;
    justify-content: space-between;
    padding-left: auto;
}

.NetworkSponsors.row figure {
    display: flex;
    justify-content: center;
}

.NetworkSponsors.row figure .Image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 26.5625rem) {
    .NetworkSponsors.row figure {
        width: 4rem;
        height: 4rem;
    }
}